---

# Tap Homebrew taps
- homebrew_tap: tap={{ item }} state=present
  with_items: common_homebrew_taps

# Tap Homebrew Cask taps
- homebrew_tap: tap={{ item }} state=present
  with_items: common_homebrew_cask_taps

- homebrew: update_homebrew=yes upgrade_all=yes
