---

# Install Homebrew dependencies
- homebrew: name={{ item }} state=latest
  with_items: dev_homebrew_dependencies

# Install docker-compose without recommended boot2docker polluting installation
- homebrew: name=docker-compose state=latest install_options=without-boot2docker,without-docker

# Install Homebrew Cask dependencies
- homebrew_cask: name={{ item }} state=present
  with_items: dev_homebrew_cask_dependencies

# Install gem dependencies
- gem: name={{ item }} state=latest user_install=no
  with_items: dev_gem_dependencies

# Install pip dependencies for python3
# - pip: name={{ item }} state=latest executable={{ brew_prefix.stdout }}/bin/pip3
#   with_items: dev_pip_dependencies
